<div style='border: 5px dashed aqua'>
	<% if @visitor_name %>
		Hello, <%= @visitor_name %>!
	<%end%>

	<% if @name %>
		My name is <%= @name %>
	<%end%>

	<img src='http://theuglyvolvo.files.wordpress.com/2013/10/costume-sushi.jpg'>
</div>